<div class="panel panel-primary"
     ng-controller="BoilerCtrl as vm">
    <div class="panel-heading"
         style="font-size:large"
         id="mainBody">
        Product List
    </div>

    <div class="panel-body">
        <div id="chartDiv"></div>
        <table class="table" name="table">
            <tbody>
                <tr>
                    <td>Element</td>
                    <td>
                        <label ng-disabled="vm.boiler.isBurstOn" ng-controller="UibButtonsController as buttons" class="btn btn-default" ng-model="vm.boiler.isElementOn" uib-btn-checkbox>{{ vm.boiler.isElementOn ? 'On' : 'Off'}}</label>
                        <label ng-controller="UibButtonsController as buttons" class="btn btn-primary" ng-model="vm.boiler.isBurstOn" uib-btn-checkbox>Burst</label>
                            <input  type="number" name="input"  min="0" max="60" ng-model="vm.boiler.burstTime" required> Seconds, every
                            <input  type="number" name="input" min="0" max="600" ng-model="vm.boiler.burstInterval" required> Seconds
                    </td>
                </tr>
                <tr>
                    <td>Pump</td>
                    <td><label ng-controller="UibButtonsController as buttons" class="btn btn-primary" ng-model="vm.boiler.isPumpOn" uib-btn-checkbox>{{ vm.boiler.isPumpOn ? 'On' : 'Off'}}</label></td>
                </tr>
                <tr>
                    <td>Target Temp</td>
                    <td>
                        <input type="number" name="inputTargetTemp" ng-model="vm.boiler.targetTemp" min="0" max="100" required>
                 </td>
                </tr>
                <tr>
                    <td>Offset</td>
                    <td><input type="number" name="inputTempOffset" ng-model="vm.boiler.tempOffset" min="0" max="5" required></td>
                </tr>
            </tbody>
        </table>
    </div>

    

    </div>

